@keyframes paint1
{
from { transform: rotate(0deg);}
to  { transform: rotate(360deg);}
}
@keyframes paint2
{
from { transform: rotate(0deg);}
to  { transform: rotate(360deg);}
}

@keyframes lr
{
from { transform: rotate(0deg);}
to  { transform: rotate(360deg);}
}
@keyframes rl
{
from { transform: rotate(360deg);}
to  { transform: rotate(0deg);}
}

body{
  margin: 0px !important;
  padding: 0px  !important;
  height: 100%;
  width: 100%;
}

.bg{
  background: url(./img/p2/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  padding-top: 10vh;
}

.clockwrap{
  width: 100vw;
  height: 50vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.clock{
  background: url(./img/p2/clock/3.png);
  width: 50vw;
  height: 50vw;
  background-size: 100% 100%;
  z-index: 10;
  position: absolute;
}
.clock4{
  background: url(./img/p2/clock/4.png);
  width: 20vw;
  height: 20vw;
  background-size: 100% 100%;
  z-index: 12;
  position: absolute;
  margin-top: 28vw;
  margin-left: 13vw;
  animation:rl 10s infinite linear;
}

.clock5{
  background: url(./img/p2/clock/5.png);
  width: 25vw;
  height: 25vw;
  background-size: 100% 100%;
  z-index: 9;
  position: absolute;
  margin-top: -24vw;
  margin-left: 2vw;
  animation:rl 10s infinite linear;
}

.clock6{
  background: url(./img/p2/clock/6.png);
  width: 11vw;
  height: 11vw;
  background-size: 100% 100%;
  z-index: 7;
  position: absolute;
  margin-top: -7vw;
  margin-left: 26vw;
}
.clock7{
  background: url(./img/p2/clock/7.png);
  width: 24vw;
  height: 24vw;
  background-size: 100% 100%;
  z-index: 6;
  position: absolute;
  margin-top: -7vw;
  margin-left: -26vw;
  animation:rl 10s infinite linear;

}

.clock8{
  background: url(./img/p2/clock/8.png);
  width: 20vw;
  height: 20vw;
  background-size: 100% 100%;
  z-index: 7;
  position: absolute;
  margin-top: 13vw;
  margin-left: -21vw;
  animation:lr 10s infinite linear;

}

.clock9{
  background: url(./img/p2/clock/9.png);
  width: 28vw;
  height: 28vw;
  background-size: 100% 100%;
  z-index: 5;
  position: absolute;
  margin-top: 25vw;
  margin-left: -6vw;
  animation:lr 10s infinite linear;

}
.clock10{
  background: url(./img/p2/clock/10.png);
  width: 14vw;
  height: 14vw;
  background-size: 100% 100%;
  z-index: 8;
  position: absolute;
  margin-top: 2vw;
  margin-left: -26vw;
  animation:lr 10s infinite linear;

}

.clock11{
  background: url(./img/p2/clock/11.png);
  width: 18vw;
  height: 18vw;
  background-size: 100% 100%;
  z-index: 8;
  position: absolute;
  margin-top: -24vw;
  margin-left: -16vw;
  animation:lr 10s infinite linear;
}

.clock12{
  background: url(./img/p2/clock/5.png);
  width: 24vw;
  height: 24vw;
  background-size: 100% 100%;
  z-index: 8;
  position: absolute;
  margin-top: 14vw;
  margin-left: 26vw;
  animation:lr 10s infinite linear;
}

.clock13{
  background: url(./img/p2/clock/13.png);
  width: 22vw;
  height: 22vw;
  background-size: 100% 100%;
  z-index: 8;
  position: absolute;
  margin-top: -18vw;
  margin-left: 16vw;
  animation:lr 10s infinite linear;
}

.c15{
  background: url(./img/p2/clock/15.png);
  width: 50vw;
  height: 60vw;
  background-repeat: no-repeat;
background-position: 50% 20%;
background-size: 3% 100%;
position: absolute;
z-index: 8;
margin-left: -26vw;
margin-top: 33vw;
}
.c14{
  background: url(./img/p2/clock/14.png);
  width: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
background-position: 50% 20%;
background-size: 6% 65%;
position: absolute;
z-index: 4;
margin-left: -36vw;
margin-top: 12vw;
}


.paint1{
  background: url(./img/p2/clock/17.png);
  width: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
background-position: 50% 20%;
background-size: 4% 40%;
animation:paint1 10s infinite linear;
position: absolute;
}
.paint2{
  background: url(./img/p2/clock/16.png);
  width: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
background-position: 50% 20%;
background-size: 4% 40%;
animation:paint1 4s infinite linear;
position: absolute;

}
